version: '3'

services:
  apache:
    image: httpd:latest
    container_name: estag-flix
    ports:
      - 81:80
    volumes:
    - type: bind
      source: ./Projeto-Netflix
      target: /usr/local/apache2/htdocs/estag-flix