
*{
    margin: 0;
    padding:0;
}

#cabecalho, #conteudo, #rodape {
    width: 960px;
    margin: 0 auto;
}

#cabecalho{
    height: 150px;
}

body, header, section, footer {

    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 16px; /* tamanho da fonte */ 
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* padrão de fonte */ 
}

a:link {
    color: #0A79DF;
    text-decoration: none; /* para os link não ficarem sublinhados*/
}

a:visited {
    color:#30336B;
}

a:hover {
    color: #6A89CC;
}

/* menu principal */ 

#menu-principal{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 20px;
}


#menu-principal li {
	padding: 30px;
	display: inline; /* deixar alinhado */ 
}

#menu-principal ul li a{
	text-decoration: none;
	color: black; /* cor das letras do menu */ 
}

#menu-principal ul li a:hover{
	text-decoration: none; /* tirar o sublinhado dos links */
	color:#8395A7; /* cor do link quando eu passar o mouse*/
}

